@charset "UTF-8";

.sobre-titulo {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.sobre-geral {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 50%; /* Define uma largura */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d1e3ff;
    border-radius: 8px;
}